.container {
	padding: 0;
}

.page-header {
	display: flex;
	padding-right: 15px;
	margin: 0;
}

h1 {
	margin-top: 50px; 
	text-align: right;
	order: 2;
	width: 50%;
}

#loginCard {
	border: 1px solid #000000;
	text-align: center;
	width: 33.3%;
	margin-left: 33.3%;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	box-shadow: 3px 3px 5px 6px #ccc;
	border-radius: 4px;
}

.footer {
   position:absolute;
   bottom:0;
   width:100%;
   text-align: center;
}